db.sqlite3
# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
connecto/firebase_key.json
media
.env
connecto/.env
# Ignore wsgi.py

# RequestType.objects.bulk_create([RequestType(name="Self Drop"),RequestType(name="Home Pickup"),RequestType(name="Home Drop"),RequestType(name="Self Pickup"),])